<html>
<head>
    <title>仪器预约系统</title>
</head>
<body bgcolor="f5f5f5">
<table align=center width="100%">
<tr>
<td width="20%">
</td>
<td>
<h2 class="STYLE3">订单显示列表</h2>
</td>
<td>
</td>
</tr>
<tr>
<td width="20%" valign="top">
<p id="notice"><%= notice %></p>

<p>
  <b>Instrument name:</b>
  <%= @order.instrument_name %>
</p>

<p>
  <b>Snum:</b>
  <%= @order.snum %>
</p>

<p>
  <b>Start:</b>
  <%= @order.start %>
</p>

<p>
  <b>Finish:</b>
  <%= @order.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @order.cost %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
</td>
<td>
</td>
</tr>
</table>
</body>
</html>
