<html>
<head>
</head>
<body bgcolor="f5f5f5">
<table align=center width="100%">
<tr>
<td width="20%">
</td>
<td>
<h2 class="STYLE3">更新<%= @instrument.name %>信息</h2>
</td>
<td>
</td>
</tr>
<tr>
<td width="20%">
</td>
<td>
<%= form_for @instrument,:url=>{:action=> 'update'} do |f| %>
<p><b>Name</b><br /><%= f.text_field:name %></p>
<p><b>Offer</b><br/><%=f.text_field:offer_id %></p>
<p><b>Details</b><br/><%=f.text_area:details %></p>

<p><%= f.submit "更新" %></p>
<% end %>
</td>
<td>
</td>
</tr>
</table>
</body>
</html>